<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.1B904D21-AA72-405B-8AF8-730B4764BA58</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.B8565EF0-BB06-492D-AAAC-4039A91E1F3C</string>
</dict>
</plist>
