<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>84D50AA1-08E0-432D-A3FE-FC32A260C6E6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>じゃr</string>
			<key>text</key>
			<string>Search Jardic for {query}</string>
			<key>url</key>
			<string>http://www.jardic.ru/search/search_r.php?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>C197770E-5DE9-4C0D-BA0B-F9D5AE5014C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>やふー</string>
			<key>text</key>
			<string>Search Yahoo! Japan for {query}</string>
			<key>url</key>
			<string>https://search.yahoo.co.jp/search?p={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CEE9E5C1-0241-4AD5-A50B-27C7FBFA8A9B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>かんじ</string>
			<key>text</key>
			<string>Search Kanji Jitenon for {query}</string>
			<key>url</key>
			<string>https://jitenon.com/search/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
