<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.73D3FDAB-5AD3-48F7-A5B9-EDF69563F4F4</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.D149412C-F36B-4727-B7F3-64A1C82E6532</string>
</dict>
</plist>
